<div class="app-wrap">
    <div class="app">
        <div class="editor-wrap">
            <canvas id="main-editor" height="700" width="400" />
        </div>
        <div class="sidebar">
            <div class="controls">
                <button class="icon-button" ng-disabled="!ctrl.editorState.history.length" ng-click="ctrl.undo()"><i class="fa fa-undo"></i></button>
                <button class="icon-button" ng-click="ctrl.openImageForm()"><i class="fa fa-image"></i></button>
                <button class="icon-button" ng-click="ctrl.openTextForm()"><i class="fa fa-font"></i></button>
                <button class="icon-button" ng-click="ctrl.saveDesign()"><i class="fa fa-save"></i></button>

                <form id="addImageForm" name="addImageForm" ng-if="ctrl.editorState.showImageFrom" ng-submit="addImageForm.$valid && ctrl.addImage($event)">
                    <h4>Upload an image</h4>
                    <div class="upload-button" ngf-select ng-model="ctrl.editorState.imageForm.file" ngf-pattern="'image/*'" ngf-accept="'image/*'">
                        <span><i class="fa fa-upload"></i> Select</span> 
                    </div>
                    <button type="submit">Add</button>
                    <button ng-click="ctrl.hideForms()">Cancel</button>
                </form>
                <form name="addTextForm" ng-if="ctrl.editorState.showTextForm" ng-submit="addTextForm.$valid && ctrl.addText($event)">
                    <h4>Add text</h4>
                    <input type="text" ng-model="ctrl.editorState.addTextForm.text" ng-required="true">
                    <button type="submit">Add</button>
                    <button ng-click="ctrl.hideForms()">Cancel</button>
                </form>
            </div>
            <div class="designs">
                <h3>Saved designs</h3>
                <div ng-repeat="design in ctrl.savedDesigns" ng-click="ctrl.loadDesign(design)">{{design.name}}</div>
            </div>
        </div>

    </div>
</div>